{
  "root": true,
  "rules": {
    "no-console": "warn",
    "import/export": "off"
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": ["airbnb-typescript", "prettier/@typescript-eslint"],
  "ignorePatterns": ["src/graphql/__generated__"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts"]
      }
    },
    "settings": {
      "import/resolver": {
        "node": {
          "extensions": [".js", ".ts"]
        }
      }
    }
  }
}
